.main-header{
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('/assets/images/hero-bg.jpg');
    
    background-size: cover;      
    background-position: center; 
    background-repeat: no-repeat;
       padding-top: 16px;
    padding-bottom: 948px;
}

/* logo-navbar */
.logo-navbar{
   display: flex;
    justify-content: space-between;
    align-items: center;       
    width: 100%;
}




.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}
.nav-links li a {
    text-decoration: none;
}

