/* google fornt inter  */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');


:root {
    --primary-font: 'Inter', sans-serif;
    /* --primary-color: #2563eb; 
    --text-main: #1e293b;
    --text-muted: #64748b;
    --bg-light: #f8fafc; */
}

/* full web site er jonno */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* full project a fornt use*/
body {
    font-family: var(--primary-font);
    -webkit-font-smoothing: antialiased; 
    -moz-osx-font-smoothing: grayscale;
    color: var(--text-main);
    background-color: var(--bg-light);
    line-height: 1.5;
}

/* ৫. coustom heding */
h1, h2, h3, h4, h5, h6 {
    font-weight: 700; 
    line-height: 1.2;
}

p {
    font-weight: 400; 
}

@import url('footer.css');